# Clerk (https://dashboard.clerk.com -> API keys)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmV4dC1vcmNhLTMwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_2Ght4VGp2C9ZJpL0jXpDHFmzrKoof6fpjK0EBEolmd

# Optional Clerk redirect overrides
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# LiveKit (https://cloud.livekit.io -> Settings -> Keys)
LIVEKIT_API_KEY=APITSpjm9B9jfYS
LIVEKIT_API_SECRET=UodTXScM2rf4P0movepmPD6EpfiIwUlWVsHSeBmeWwEG
NEXT_PUBLIC_LIVEKIT_URL=LIVEKIT_URL=wss://neoconference-dev-01ptt1d1.livekit.cloud
LIVEKIT_API_KEY=APITSpjm9B9jfYS
LIVEKIT_API_SECRET=UodTXScM2rf4P0movepmPD6EpfiIwUlWVsHSeBmeWwEG

# Database (Postgres connection string for Prisma)
DATABASE_URL=
