{
  "openapi": "3.1.0",
  "info": {
    "title": "NeoConference API",
    "version": "1.0.0",
    "description": "Public REST API for creating meetings, minting guest join tokens, and accessing events, replays and recordings. Authenticate with an API key created in your NeoConference dashboard."
  },
  "servers": [
    {
      "url": "https://www.neoconference.app/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Meetings",
      "description": "Create and manage meeting rooms."
    },
    {
      "name": "Tokens",
      "description": "Mint guest join tokens."
    },
    {
      "name": "Events",
      "description": "Events and cinematic replays."
    },
    {
      "name": "Recordings",
      "description": "Cloud recordings and downloads."
    }
  ],
  "paths": {
    "/meetings": {
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "List meetings",
        "responses": {
          "200": {
            "description": "A list of meetings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Meetings"
        ],
        "summary": "Create a meeting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeeting"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meeting created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Plan limit exceeded."
          }
        }
      }
    },
    "/meetings/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Meetings"
        ],
        "summary": "Get a meeting",
        "responses": {
          "200": {
            "description": "The meeting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Meetings"
        ],
        "summary": "End a meeting",
        "responses": {
          "200": {
            "description": "Meeting ended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/meetings/{id}/tokens": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Create a guest join token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateToken"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Join token minted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Meeting already ended."
          }
        }
      }
    },
    "/meetings/{id}/recordings": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Recordings"
        ],
        "summary": "List recordings",
        "responses": {
          "200": {
            "description": "Recordings with presigned download URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingList"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "responses": {
          "200": {
            "description": "A list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get an event",
        "responses": {
          "200": {
            "description": "The event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token: Authorization: Bearer nc_live_..."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Meeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "maxParticipants": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ended"
            ]
          }
        }
      },
      "MeetingEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Meeting"
          }
        }
      },
      "MeetingList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meeting"
            }
          }
        }
      },
      "CreateMeeting": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "maxParticipants": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CreateToken": {
        "type": "object",
        "required": [
          "identity"
        ],
        "properties": {
          "identity": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "canPublish": {
            "type": "boolean"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "expiresAt": {
            "type": "integer"
          }
        }
      },
      "TokenEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Token"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ]
          },
          "createdAt": {
            "type": "integer"
          },
          "replayReady": {
            "type": "boolean"
          },
          "replayUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EventEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Event"
          }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "downloadUrl": {
            "type": "string"
          },
          "downloadUrlExpiresIn": {
            "type": "integer"
          }
        }
      },
      "RecordingList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recording"
            }
          }
        }
      }
    }
  }
}\n
